{% extends "layout.html" %}

{% block content %}
<div class="card-body" id="planet_list">

</div>
<div class="card"  id="planet_list_pagination">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <span class="page-link">Previous</span>
        </li>
        <li class="page-item active">
        <span class="page-link">
                1<span class="sr-only">(current)</span>
            </span>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</div>

<!--modals-->
<!--resident modal-->
<div id="residents" class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Residents of </h5>
                <span class="close" id="residentsClose">&times;</span>
            </div>
            <div class="modal-body" id="modal-body">
                <p></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}